html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  text-align: center;
  overflow: hidden;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 20px;
  left: 25px;
  right: 25px;
  margin: 0;
}

.polaroid:first-child {
  transform:rotate(-20deg);
  /* transform:translate(500px, 350px); */
  z-index: 1;
}

.polaroid:nth-child(2) {
  transform:rotate(5deg);
  /* transform:translate(600px, 250px); */
  z-index: 3;
}

.polaroid:last-of-type {
  transform:rotate(25deg);
  /* transform:translate(700px, 25px); */
  z-index: 2;
}

.polaroid:hover {
  box-shadow: 1px 4px 10px rgba(0, 0, 0, .5);
  transform:rotate(0deg);
  z-index: 3;
}
